In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier, GradientBoostingClassifier, VotingClassifier, ExtraTreesClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import IterativeImputer

In [4]:
from sklearn.metrics import confusion_matrix, classification_report, log_loss

In [5]:
import category_encoders as ce

In [6]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
pd.set_option('display.max_columns', 120)

---

In [8]:
tr = pd.read_csv('sales_train.csv')
ts = pd.read_csv('test.csv')

In [18]:
tr.sample(5)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
1014390,24.10.2013,9,7,16532,1299.0,1.0
214357,06.02.2013,1,29,15550,149.0,1.0
2676883,24.06.2015,29,47,4895,3999.0,1.0
2763450,10.07.2015,30,21,17880,399.0,1.0
2520834,23.03.2015,26,19,1877,3599.0,1.0

In [10]:
ts.sample(5)

            ID  shop_id  item_id
193779  193779       46     2972
196289  196289       41     4418
72207    72207       21    20202
65705    65705       22    17674
152813  152813       59    13086

In [16]:
len(tr.date.unique())

1034

date              03.01.2013
date_block_num             0
shop_id                   31
item_id                12318
item_price               149
item_cnt_day               1
Name: 72207, dtype: object